
body {
  overflow-x: hidden;
}
#navbar.navbar-shrink {
    height: 70px;
    box-shadow: 0 0 10px 10px #1B1C2B;
}
a {
  text-decoration: none;
}

.bg-body-tertiary {
   --bs-bg-opacity: 1;
   background-color: #1C1E53!important;
   /* position: fixed;
   z-index: 99; */
}
.navbar-toggler-icon {
    background-image: url(../assets/images/bars-solid\ \(2\).svg);
}

.nav-link {
   color: #fff;
}

.nav-link-item , .nav-link-items {
   display: flex;
   gap: 40px;
}


.header-btn {
   padding: 16px 40px;
   color: var(--White, #FFF);
   font-family: Poppins;
   font-size: 16px;
   font-weight: 500;
   line-height: 28px;
   border-radius: 41px;
   border: 2px solid rgba(244, 246, 252, 0.20);
   background-color: transparent;
}



ul {
    list-style-type: none;
}

.pricing-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    margin-bottom: 128px;
}


.card-1 {
    max-width: 406px;
    border-radius: 12px;
    background: var(--Grey, #F4F6FC);
    padding: 0 50px 10px 50px;
}

.card-1:hover {
    background-color: #1C1E53;
    color: #fff;
}

 .card-1:hover .pricings h2 {
    color: #fff;
}
 .card-1:hover .pricings p {
    color: #FCD980;
}

.card-1:hover .pricing-title {
    color: #fff;
}
.card-1:hover .pricing-list {
    color: #fff;
}
.card-1:hover .pricing-button {
    color: #282938;
    background-color: #FCD980;
}

.pricings {
    padding: 64px 0 20px 48px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.pricings h2 {
    color: #282938;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}

.pricings p {
    color: #2405F2;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.pricing-title {
    padding: 0 0 0 48px;
    color: #282938;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.pricing-list {
    padding: 0 0 80px 48px;
    max-width: 281px;
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.pricing-icon li {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}
.btn {
    padding: 80px 0 60px 40px;
}
.pricing-button {
    padding: 15px 51px;
    color: var(--Grey, #F4F6FC);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    border-radius: 41px;
    background: var(--Dark-blue, #282938);
    border: 1px solid transparent;
}

/* .pricing-button:hover {
    color: #FCD980;
    background-color: transparent;
    border: 1px solid #FCD980;
} */

.title {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    margin-top: 128px;
}

.text-list {
    max-width: 562px;
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin: 0 auto 64px auto;
}

.qeustions {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    margin-bottom: 120px;
}

.qeustions-right {
    width: 100%;
}

.qeustion-title {
    max-width: 406px;
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

.qeustion-list {
    color: var(--Royal-Blue, #2405F2);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}


.footer{
  padding: 95px 0;
  background-color:#1C1E53 !important;
}
.logo{
  width: 160px;
  height: 32px;
  color:#fff;
}
.footer__text{
  max-width: 399px;
  margin-top: 24px;
  color: #fff;
  opacity:.8;
  font-family:var(--Poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.footer__text:nth-child(2){
  margin-top: 14px;
}
.form{
  max-width: 517px;
  padding: 18px 35px;
  background: #FCD980;
}
label, input{
  display: block;
  border:none;
  outline:none;
  background: transparent;
}
label{
  color: var(--Dark-blue);
  font-family: var(--Poppins);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; 
}
input::placeholder{
  color: var(--Dark-blue);
  opacity: .8;
  font-family: var(--Poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
}
.form{
  display: flex;
}


.footer__right{
  display: block;
  margin-top: 0;
}
.footer__right h2{
  max-width: 333px;
  margin-top: 0;
  font-family: var(--Poppins);
  color:#fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; 
}
.footer__icon{
  display: flex;
  gap: 26px;
}
.footer__icon i{
  font-size: 18px;
  color:#fff;
}

@media(min-width:700px) {
    .pricing-card {
    grid-template-columns: repeat(2, 1fr);
}
} 


@media(min-width:1000px) {
    .pricing-card {
    grid-template-columns: repeat(3, 1fr);
}
} 

@media(min-width:1000px) {
    .qeustions {
    flex-direction: row;
}
    .qeustions-right {
      width: 67%;
    }
} 



